<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>乐淘云商-商品详情</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/mobile.css">
    <!--目标 ： 1. 使用模板引擎  2.mui组件 下拉刷新  3. ajax  4.加入购物车 5.登录验证-->
</head>
<body>
<div class="lt_container">
    <!--顶部-->
    <header class="lt_topBar">
        <a href="javascript:history.back();" class="mui-icon mui-icon-back left"></a>
        商品详情
        <a href="index.html" class="fa fa-home right"></a>
    </header>
    <!--内容-->
    <div class="lt_content">
        <div class="lt_wrapper">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--TODO-->
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer class="lt_trade">
        <a href="user/cart.html" class="cart"><span class="fa fa-shopping-cart"></span></a>
        <div class="btnBox">
            <a href="javascript:;" class="btn_cart">加入购物车</a>
            <a href="#" class="btn_pay">立即支付</a>
        </div>
    </footer>
</div>
<script type="text/template" id="detail">
    <!--轮播图-->
    <div class="mui-slider">
        <%
            var picArray = [{picAddr:'/mobile/images/none01.jpg'}];
            if(!pic || pic.length ==0 ){
                pic = picArray;
            }
        %>
        <div class="mui-slider-group mui-slider-loop">
            <!--最后一张-->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="<%=pic[pic.length-1].picAddr%>"><img src="<%=pic[pic.length-1].picAddr%>" /></a></div>
            <% for(var i = 0 ; i < pic.length ; i ++){ %>
            <div class="mui-slider-item"><a href="<%=pic[i].picAddr%>"><img src="<%=pic[i].picAddr%>" /></a></div>
            <% } %>
            <!--第一张-->
            <div class="mui-slider-item mui-slider-item-duplicate"><a href="<%=pic[0].picAddr%>"><img src="<%=pic[0].picAddr%>" /></a></div>
        </div>
        <div class="mui-slider-indicator">
            <% for(var i = 0 ; i < pic.length ; i ++){ %>
            <div class="mui-indicator <%= i==0?'mui-active':'' %>"></div>
            <% } %>
        </div>
    </div>
    <!--商品名称-->
    <div class="p_name">
        <p class="mui-ellipsis-2"><%=proName%></p>
    </div>
    <!--商品价格-->
    <div class="p_price">
        价格：<span class="now">&yen;<%=price%></span> <span class="old">&yen;<%=oldPrice%></span>
    </div>
    <!--商品尺码-->
    <div class="p_size">
        尺码：
        <% var sizeArr = size.split('-'),startSize = sizeArr[0],endSize = sizeArr[1]; %>
        <% for(var i = startSize ; i <= endSize ; i++){ %>
        <span data-size="<%=i%>"><%=i%></span>
        <% } %>
    </div>
    <!--商品数量-->
    <div class="p_num">
        数量：
        <div class="changeNum">
            <span data-type="0">-</span><input type="number" value="0" data-max="<%=num%>"><span data-type="1">+</span>
        </div>
        <span class="stock">剩余数量：<%=num%> 双</span>
    </div>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/art-template/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/product.js"></script>
</body>
</html>